.Items {
  width: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;

  &__item {
    background-color: color(item-background);
    padding: 1rem;
    margin: 0.4rem;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: darken(color(item-background), 5%);
    }

    &__img {
      display: block;
      max-width: 100%;
    }

    &__name {
      font-weight: lighter;
      margin-top: 1rem;
    }

    &__price {
      color: color(item-price);
    }
  }
}
