.Product {
  display: flex;
  flex-wrap: wrap;

  &__info, &__price {
    flex: 1 0 0;
  }

  &__info {
    padding-left: 2rem;
    min-width: 300px;
  }

  &__price {
    color: color(item-price);
  }

  &__description {
    margin-top: 1rem;
  }
}
