$root-size: 16px;
$content-width: 1366px;
$content-medium-width: 1000px;
$notice-z-index: 1;
$loading-z-index: 2;
$header-z-index: 1;
$header-height: 50px;

$colors: (
        primary: #fff,
        cookie-notice: #fff,
        link: #2b202f,
        link-active: #e53843,
        header-background: #000,
        header-background-flurish: #e3bc20,
        header-button: #e53843,
        h1: #e53843,
        item-background: #f9f9f9,
        item-price: #e53843,
);
