$root-size: 16px;
$content-width: 1366px;
$content-medium-width: 1000px;
$notice-z-index: 1;
$loading-z-index: 2;

$colors: (
        primary: #fff,
        cookie-notice: #fff,
        link: #2b202f,
        link-active: #e53843,
);
